SQL Practice Project 1/csv_files/company_dim.csv
SQL Practice Project 1/csv_files/job_postings_fact.csv
SQL Practice Project 1/csv_files/skills_dim.csv
SQL Practice Project 1/csv_files/skills_job_dim.csv
